<!-- Booking Start -->
        <div class="container-fluid booking pb-5 " >
            <div class="bg-white shadow" style="padding: 35px;">
                <div class="row g-2">
                    <div class="col-md-12">
                        <form action=""></form>
                            <div class="row d-flex align-items-end">
                                <div class="col-md-3 mb-3">
                                    <label class="form-label" style="font-weight:500,">Date d'arrivée</label>
                                    <input type="date" class="form-control ">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label" style="font-weight:500,">Date d'arrivée</label>
                                    <input type="date" class="form-control ">
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label class="form-label" style="font-weight:500,">Adultes</label>
                                    <select class="form-select " aria-label="Default select example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label class="form-label" style="font-weight:500,">Enfants</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <button class="btn btn-primary w-100">Rechercher</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- Booking End -->