<nav class=" ma-navbar navbar navbar-expand-lg bg-xhite px-lg-3 py-lg-2 shadow-sm sticky-top ">
  <div class="container-fluid ">
    <a class="navbar-brand me-5 fw-bold fs-3 h-font" href="#">NayirHotel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active me-2" aria-current="page" href="#">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="#">Chambre</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link me-2" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a href={{path('admin')}} class="nav-link me-2 " aria-disabled="true">Admin</a>
        </li>
      </ul>
        <div class="d-flex " >
          <a href={{ path('app_register') }} class="btn btn-outline-dark  me-lg-2 me-3" >
            Inscription
          </a>
          <a href={{ path('app_login') }} class="btn btn-outline-dark  me-lg-2 me-3" >
            Connexion
          </a>

        </div>
    </div>
  </div>

</nav>

