{% extends 'base.html.twig' %}

{% block title %}Images index{% endblock %}

{% block body %}
    <h1>Images Chambres</h1>

    
        
        <tbody>
        {% for image in images %}
            
                
                <div class="container">
                    <div class="row col-lg-4">
                        <img class="img-fluid"src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="Image {{ loop.index }}">
                        <a href="{{ path('app_images_show', {'id': image.id}) }}">show</a>
                        <a href="{{ path('app_images_edit', {'id': image.id}) }}">edit</a>
                    
                    </div>
                </div>
                    
               
            
        {% else %}
           
                <td colspan="4">no records found</td>
            
        {% endfor %}
        </tbody>
    

   
{% endblock %}
